@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .classname {
    @apply relative flex items-center hover:bg-green-600 transition-all duration-300 ease-linear;
  }

}

:root {
  --dark-1: #f7e5bd;
  --dark-2: #d6b2a5;
  --dark-3: #b093a3;
  --dark-4: #787492;
  --dark-5: #282e54;
}

body {
  min-width: 400px;
  background-color: var(--dark-5);
  color: var(--dark-1);
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 1rem 0;
  padding: 0;
  background-color: transparent;
}
  
li {
  padding: 0;
  margin: 0;
}

li:nth-child(odd) {
  background: var(--dark-5);
}
li:nth-child(even) {
  background: var(--dark-4);
}

li:hover .group-name {
  display: none;
}

li:hover .restore-button {
  opacity: 1;
}

p {
  margin: 0;
}

img {
  width: 30px;
}

h2, h3, label {
  font-weight: bolder;
  margin-bottom: 0;
}
.restore-button{
  font-size: medium;
  font-weight: bolder;
  grid-row: 1;
  grid-column: 1;
  display: block;
  border: none;
  background-color: var(--dark-2);
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.btn-delete{
  grid-row: 1;
  grid-column: 3;
  height: 100%;
  width: 100%;
}

.group-name {
  grid-row: 1;
  grid-column: 1;
}

li.group > div.container {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  height: 50px;
  align-items: center;
  justify-items: center;
  padding: 0;
}

li.tab > div.container {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 30% 60% 10%;
  height: 50px;
  align-items: center;
  justify-items: center;
  padding: 0;
}

.container {
  display: flex;
  padding: 10px;
}

.button {
  font-size: x-large;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  background-color: var(--dark-3);
  color: var(--dark-5);
  padding: 20px 0px;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.1s linear 0s;
}

.button-sliding:hover {
  text-indent: -30px;
}

.button > .icon {
  position: absolute;
  right: 30px;
  opacity: 0;
  transition: opacity 0.1s ease-out, right 0.1s ease-out;
}

.button:hover > .icon {
  right: 10px;
  opacity: 1;
}
